.App {
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin:0 auto;
  .loading {
    margin: 0 auto;
  }
}

